{% if page.organizer %}
<a href="https://www.nwo.nl/"><img id = 'nwo_logo' class="img-fluid" src="/assets/img/logos/nwologo.png" style="margin: 20px 20px 80px 20px;"></a>
<a href="https://www.sciencedirect.com/journal/science-talks"><img id = 'elsevier_logo' class="img-fluid" src="/assets/img/logos/elsevierlogo.png" style="margin: 20px 20px 80px 20px;"></a>
<a href="https://www.tudelft.nl/en/"><img id = 'tudelft_logo' class="img-fluid" src="/assets/img/logos/tudelft.png" style="margin: 20px 20px 80px 20px;"></a>
<a href="https://www.shell.com/"><img id = 'shell_logo' class="img-fluid" src="/assets/img/logos/shell.png" style="margin: 20px 20px 80px 20px;"></a>
{% endif %}