{% if page.organizer %}
<a href="https://www.nwo.nl/"><img id = 'nwo_logo' class="img-fluid" src="/assets/img/logos/nwologo.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://www.sciencedirect.com/journal/science-talks"><img id = 'elsevier_logo' class="img-fluid" src="/assets/img/logos/elsevierlogo.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://www.tudelft.nl/en/"><img id = 'tudelft_logo' class="img-fluid" src="/assets/img/logos/tudelft.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://www.tudelft.nl/en/ai/tu-delft-ai-initiative"><img id = 'aiinitiativelogo' class="img-fluid" src="/assets/img/logos/aiinitiativelogo.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://www.shell.com/"><img id = 'shell_logo' class="img-fluid" src="/assets/img/logos/shell.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://kenkennedy.rice.edu/"><img id = 'rice_logo' class="img-fluid" src="/assets/img/logos/ricelogo.png" style="margin: 10px 10px 10px 10px;"></a>
<a href="https://www.mathworks.com/"><img id = 'mathworks_logo' class="img-fluid" src="/assets/img/logos/mathworks-logo.svg" style="margin: 10px 10px 10px 10px;"></a>
{% endif %}
