<script>
  $(document).ready(function() {
    // If there's a hash in the URL
    if (window.location.hash) {
      var hash = window.location.hash;
      // Use JavaScript's History API to replace the current history entry
      // This changes the URL without adding an entry to the browser's back button history
      // The new URL is the same as the old, but without the hash
      history.replaceState(null, null, window.location.pathname + window.location.search);
      // Then navigate back to the original URL, forcing a page reload
      window.location.href = window.location.href + hash;
    }
  });
</script>

<div class="instructors clearfix">
  {% for speaker in site.data.staff.Speakers %}
  <div class="instructor-profile-two-col">
    <a href="{{ speaker.url }}" target="_blank"><img src="{{ speaker.image | prepend: '/assets/img/' | relative_url }}" /></a>
    <ul class="instructor-info">
      <li> <a href="{{ speaker.url }}" target="_blank">{{ speaker.name }}</a></li>
      <li>{{ speaker.affiliation }}</li>
      <li class="topic"> <a href="{{ site.baseurl }}/schedule#{{speaker.name}}">Abstract/Bio </a></li>
      <!---<li class="topic"> Abstract/Bio <span class="popup"> <b>{{ speaker.topic }}</b> {{ speaker.abstract }} {{ speaker.bio }} </span></li>--->
    </ul>
  </div>
  {% endfor %}
</div>
