<div class="instructors clearfix">
  {% for speaker in site.data.staff.Speakers %}
  <div class="instructor-profile-two-col">
    <a href="{{ speaker.url }}" target="_blank"><img src="{{ speaker.image | prepend: '/assets/img/' | relative_url }}" /></a>
    <ul class="instructor-info">
      <li> <a href="{{ speaker.url }}" target="_blank">{{ speaker.name }}</a></li>
      <li>{{ speaker.affiliation }}</li>
      <!--<li><span>Email:</span> <a href="mailto:{{ instructor.email | encode_email }}" target="_blank">{{ instructor.email }}</a></li> -->
    </ul>
  </div>
  {% endfor %}
</div>